---
title: Polymer test
---

:css
  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }

  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  core-toolbar {
    background: #03a9f4;
    color: white;
  }

  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }

%core-header-panel

  %core-toolbar
    %paper-tabs#tabs{ selected: 'all', self_end: true }
      %paper-tab{ name: 'all' } All
      %paper-tab{ name: 'favorites' } Favorites

  .container{ layout: true, vertical: true, center: true }
    %post-card
      %img{ width: 70, height: 70, src: 'polymer-tutorial-master/images/avatar-07.svg' }
      %h2 Another Developer
      %p I'm composing with shadow DOM!

</div>

:javascript
  var tabs = document.querySelector('paper-tabs');

  tabs.addEventListener('core-select', function() {
    console.log("Selected: " + tabs.selected);
  });
