@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: font-url('icons.eot');
  src: font-url('icons.eot?#iefix') format('embedded-opentype'),
       font-url('icons.woff') format('woff'),
       font-url('icons.ttf');
}
